<html>

    <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="camera.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
<!--         <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script> -->
          <script src="https://cdn.jsdelivr.net/gh/aframevr/aframe@fb322bc51e38272b3afa927a293c5844bdc3782c/dist/aframe-master.min.js"></script>

        <script src="https://unpkg.com/aframe-orbit-controls@1.2.0/dist/aframe-orbit-controls.min.js"></script>

        <title>CAURL</title>
        <meta name="description" content="Code AUgmented Reality Live">
      
        <script>

    var neverBeenClicked=true;

    const argFunc = function(){
      if(neverBeenClicked === true){
        neverBeenClicked = false;
      }
    }

    function aoskDeviceMotion() {
      document.querySelector('#overlay').addEventListener(
        'click', _askDeviceMotion, false);
      }

    function _askDeviceMotion() {
      askDeviceMotion(argFunc)
    }

function askDeviceMotion(funcArg) {
  try {
      if (
        DeviceMotionEvent &&
        typeof DeviceMotionEvent.requestPermission === 'function'
      ){
        DeviceMotionEvent.requestPermission().then(
          response => {
            if (response === 'granted') {
              grantedDeviceMotion(funcArg)
            }else{
              alert('Device Motion permission not granted.')

              console.log('Device Motion permission not granted.')
            }
          })
          .catch(console.error )
      } else {
        grantedDeviceMotion(funcArg)
      }
    } catch (oops) {
      alert('Your device and application combination do not support device motion events.')
      console.log('Your device and application combination do not support device motion events.')
    }
  }

function grantedDeviceMotion(funcArg) {
  window.addEventListener(
    'devicemotion',
    funcArg,
    false
  );
}
    </script>
      

    </head>

    <body>
      <div id="container"></div>

      <div class="app">
        <div class="vidholder"></div>
        <div class="audioholder"></div>
        <button>start</button>      
      </div>
      
      <a-scene>
        <a-camera>          
        </a-camera>          
      </a-scene> 
    
      <pre></pre>

  </body>
  <script src="fragmentShader.js" defer></script>
  <script src="concert.js" defer></script>
  
<script>
  window.onmousedown = _askDeviceMotion;
  
    </script>
</html>

