<html>

    <head>
          <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <script src="camera.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
      

        <title>CAURL</title>
        <meta name="description" content="Code AUgmented Reality Live">
        <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
        <script src="https://unpkg.com/aframe-orbit-controls@1.2.0/dist/aframe-orbit-controls.min.js"></script>
    </head>

    <body>
      <div id="container"></div>
      <script src="concert.js" defer></script>


      <div class="app">
        <div class="vidholder"></div>
        <button>start</button>      
      </div>
      
      <a-scene>
        <a-camera
          position="0 1 0">          
        </a-camera>  
      </a-scene> 
    
      <pre></pre>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
      
</html>

