


<html>
  <head>
    <title>👵</title>
    
    <link rel="stylesheet" type="text/css" href="style.css">
    
  </head>
  
  <body>
    <h1>
      Hello, young person! I am the editor!
    </h1>
    
    <h1>
      Register, please!
    </h1>
    
    <div id="registration">
      <h2>
        What is your handle, whippersnapper?
      </h2>
      <input type="text" id="userhandle-field"/>
      <button id="register-button">
        SUBMIT BUTTON
      </button>
    </div>
    
    <div id="editor" class="hidden">
      <h1>
        HI
      </h1>
    </div>
 
    <script src="/socket.io/socket.io.js"></script>
    <script src="client.js"></script>
  </body>
</html>